html {
    margin: 0px;
}

body {
    margin:0px;
}

#headerBar {
    position: fixed;
    width: 100%;
    background-color: rgb(0,0,70);
    height: 50px;
    z-index: 10;
}

.navText {
    display: inline-block;
    margin-left: 20px;
    color: white;
    font-family:'Lato', sans-serif;
    font-weight: lighter;
    text-decoration: none;
    font-size: 18px;
    padding-top: 10px;
    letter-spacing: 0px;
}

#navTitle {
    color: lightgray;
    margin-left: 10px;
    font-size: 25px;
}

#mainBody {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:50px;
    background-color: white;
    z-index: 5;
}

#mainParagraph {
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

#cheatSheet {
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
    text-align: center;
    border: 2px solid grey;
    border-collapse: collapse;
}

.tableHeaderRow {
    padding: 0px;
    background-color: rgb(0, 0, 70);
    color: white;
    font-family: Verdana;
    font-size: 15px;
}

.tableHeaderElem {
    border: 2px solid grey;
    padding: 5px;
}

tr.tableBodyRow:hover {
    background-color: lightgrey;
}

.tableBodyElem {
    border: 2px solid grey;
    padding: 5px;
}

.mainPagePic {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
}

.profilePic {
    margin-top: 10px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#playerName {
    font-family:'Lato', sans-serif;
    font-size: 25px;
    color: black;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#mainBodyGolferProfiles {
    display: inline;
    width: 250px;
    height: 100%;
    position: fixed;
    top:50px;
    left: 0px;
    background-color: white;
    z-index: 6;
}

#profileStats {
    display: inline;
    height: 100%;
    position: absolute;
    width: calc(100% - 250px);
    left: 250px;
    top: 50px;
    background-color: lightgrey;
    z-index: 5;
    overflow-x: auto;
}

#overallStatsProfile {
    display: block;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
    border-collapse: collapse;
}

.profStatElem {
    border: 2px solid black;
    padding: 4px;
}

.profStatHead {
    background-color: lightgray;
    color: black;
    padding: 4px;
    border: 2px solid black;
    font-size: 15px;
    font-family: Verdana;
}



/* Below is for Golfer Profiles i.e. profiles.html */

#profTableDiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#profileTable {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(0, 0, 70);
    width: fit-content;
    border-collapse: collapse;
}

.profHeadRow {
    padding: 0px;
    background-color: rgb(0, 0, 70);
    color: white;
    font-family: Verdana;
    font-size: 15px;
}

tr.profBodyRow:hover {
    background-color: lightgrey;
}

.profBodyRow {
    background-color: white;
    font-family: 'Arial';
}

.profHeadElem {
    border: 2px solid grey;
    padding: 5px;
}

.profBodyElem{
    border: 2px solid grey;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 15px;
}

#myDataTable thead {
    background-color: rgb(0,0,70);
    color: white;
    font-family: Verdana;
    font-size: 12px;
}

#myDataTable tbody tr {
    background-color: white;
    font-family: Verdana;
    font-size: 12px;
}

#myDataTable tbody tr td {
    border: 1px solid grey;
}

#myDataTable tbody tr:hover {
    filter: brightness(0.7);
}

#myDataTable tbody td {
    padding-top: 3px;
    padding-bottom: 3px;
}

.dataTables_filter {
    margin-bottom: 20px;
    font-family: Verdana;
    font-size: 15px;
}

.lowest-value {
    background-color: #F83E3E;
}

.lower-value {
    background-color: #F87C7C;
}

.low-value {
    background-color: #F8BABA;
}

.medium-value {
    background-color: white;
}

.high-value {
    background-color: #CAE2FE;
}

.higher-value {
    background-color: #78B4FC;
}

.highest-value {
    background-color: #4579F1 ; 
}

#selectPlayer {
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#playerNameProf {
    display: inline;
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    margin-top: 0px;
}

#selectRoundView {
    margin-top: 10px;
    width: fit-content;
    margin-left: 20px;
}

#viewRoundLabel{
    font-size: 18px;
}


/* Cheat Sheet Styling*/
#numRoundsDiv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
}

/* Custom styles for DataTables Buttons */
div.dt-button-collection {
    overflow-y: auto;
}

.dt-button-collection {
    max-height: 200px;
    overflow-y: auto;
}

#cheatSheetDiv {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-x: auto;
    height: fit-content;
}