html {
    margin: 0px;
}

body {
    margin:0px;
}

#headerBar {
    position: fixed;
    width: 100%;
    background-color: rgb(0,0,70);
    height: 50px;
    z-index: 10;
}

.navText {
    display: inline-block;
    margin-left: 20px;
    color: white;
    font-family:'Lato', sans-serif;
    font-weight: lighter;
    text-decoration: none;
    font-size: 18px;
    padding-top: 10px;
    letter-spacing: 0px;
}

#navTitle {
    color: lightgray;
    margin-left: 10px;
    font-size: 25px;
}

#mainBody {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:50px;
    background-color: white;
    z-index: 5;
}

#mainParagraph {
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

#cheatSheet {
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
    text-align: center;
    border: 2px solid grey;
    border-collapse: collapse;
}

.tableHeaderRow {
    padding: 0px;
    background-color: rgb(0, 0, 70);
    color: white;
    font-family: Verdana;
    font-size: 15px;
}

.tableHeaderElem {
    border: 2px solid grey;
    padding: 5px;
}

tr.tableBodyRow:hover {
    background-color: lightgrey;
}

.tableBodyElem {
    border: 2px solid grey;
    padding: 5px;
}

.mainPagePic {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
}

.profilePic {
    margin-top: 10px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#playerName {
    font-family:'Lato', sans-serif;
    font-size: 25px;
    color: black;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#mainBodyGolferProfiles {
    display: inline;
    width: 250px;
    height: 100%;
    position: fixed;
    top:50px;
    left: 0px;
    background-color: lightgray;
    z-index: 6;
    overflow-y: auto;
}

#profileStats {
    display: inline;
    position: absolute;
    width: calc(100% - 250px);
    left: 250px;
    top: 50px;
    background-color: white;
    z-index: 5;
    overflow-x: auto;
}

#profOvrDiv {
    width: fit-content;
    height: 670px;
    box-sizing: border-box;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#overallStatsProfile {
    display: block;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: auto;
    text-align: center;
    border-collapse: collapse;
    font-family: Verdana;
    font-size: 12px;
    background-color: white;
}

.profOvrStat {
    font-weight:700;
    padding-left: 2px;
}

#profOvrRow {
    background-color: white;
}

#profOvrElem {
    border: 2px solid black;
    padding: 2px;
}

#profOvrHead {
    background-color: lightgray;
    color: black;
    padding: 2px;
    border: 2px solid black;
    font-size: 15px;
    font-family: Verdana;
}

#overallStatsProfile tbody tr:hover {
    filter: brightness(80%);
}


/* Below is for Golfer Profiles i.e. profiles.html */

#profTableDiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#profileTable {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(0, 0, 70);
    width: fit-content;
    border-collapse: collapse;
}

.profHeadRow {
    padding: 0px;
    background-color: rgb(0, 0, 70);
    color: white;
    font-family: Verdana;
    font-size: 15px;
}

tr.profBodyRow:hover {
    background-color: lightgrey;
}

.profBodyRow {
    background-color: white;
    font-family: 'Arial';
}

.profHeadElem {
    border: 2px solid grey;
    padding: 5px;
}

.profBodyElem{
    border: 2px solid grey;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 15px;
}

#golferProfTable{
    height: 600px;
    width: 950px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    overflow-x: auto;
    overflow-y: auto;
}

#golferProfTable .ag-row:hover {
    filter: brightness(0.7);
}

.dataTables_filter {
    margin-bottom: 20px;
    font-family: Verdana;
    font-size: 15px;
}

.lowest-value {
    background-color: #F83E3E;
}

.lower-value {
    background-color: #F87C7C;
}

.low-value {
    background-color: #F8BABA;
}

.medium-value {
    background-color: white;
}

.high-value {
    background-color: #CAE2FE;
}

.higher-value {
    background-color: #78B4FC;
}

.highest-value {
    background-color: #4579F1 ; 
}

#selectPlayer {
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#playerNameProf {
    display: inline;
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    margin-top: 0px;
}

#selectRoundView {
    width: fit-content;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

#selectRoundDrop {
    height: 20px;
    width: 150px;
    margin-top: 1px;
}

#viewRoundLabel{
    font-size: 18px;
}


/* Cheat Sheet Styling*/
#numRoundsDiv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
}

#cheatSheet {
    width: auto;
    height: 700px;
}

/* Decrease left and right padding for all cells */
.ag-cell {
    padding-left: 6px; /* Adjust the value as needed */
    padding-right: 0px; /* Adjust the value as needed */
}

/* Decrease left and right padding for header cells */
.ag-header-cell {
    padding-left: 6px; /* Adjust the value as needed */
    padding-right: 0px; /* Adjust the value as needed */
}

.ag-header-cell-comp-wrapper {
    width: fit-content;
}

.ag-theme-quartz .ag-header-cell,
.ag-theme-quartz .ag-header-group-cell {
  border-right: 1px solid #ccc; /* Adjust color and thickness as needed */
}

.ag-theme-quartz .ag-cell {
  border-right: 1px solid #ccc; /* Adjust color and thickness as needed */
}
/* Custom styles for DataTables Buttons */
div.dt-button-collection {
    overflow-y: auto;
}

.dt-button-collection {
    max-height: 200px;
    overflow-y: auto;
}

#cheatSheetDiv {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-x: auto;
    height: fit-content;
    margin-bottom: 20px;
}

#cheatSheet .ag-row:hover {
    filter: brightness(0.7);
  }
  
  #cheatSheet .ag-row-hover {
    filter: brightness(0.7);
  }

#filterContainer {
    display: flex;
    position: relative;
}

#filterContainerGP {
    display: flex;
    position: relative;
    width: 900px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 10px;

}

#filter-text-box-GP {
    height: 15px;
}

#columnVisibilityDropdown {
    width: fit-content;
    display: inline;
    margin-right: 5px;
}

#colVisButCS {
    margin-left: 5px;
    margin-top: 18.5px;
    width: 175px;
}

#applyColVisCS {
    margin-top: 5px;
}

#checkboxContainer {
    margin-top: 10px;
    height: 150px;
    overflow-y: auto;
    width: fit-content;
}

#checkboxContainer label {
    font-weight: normal;
}

#checkboxContainer .group-label {
    font-weight: bold;
}

#searchAreaCS {
    display: inline;
    width: fit-content;
}

#searchAreaGP {
    display: inline;
    width: fit-content;
}

#searchInnerAreaCS {
    display: inline-block;
}

#searchInnerAreaGP {
    display: inline-block;
}

#innerRoundNumCS {
    display: inline-block;
}

#trendsDiv {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-x: auto;
    height: fit-content;
    margin-bottom: 20px;
}

#searchAreaTR {
    display: inline;
    width: fit-content;
}

#searchInnerAreaTR {
    display: inline-block;
}

#recRdsDiv {
    display: inline-block;
}

#baseRdsDiv {
    display: inline-block;
}

#trendSheet {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 700px;
}

#floorCeilSheet {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 700px;
}

#filterContainerTR {
    display: flex;
    position: relative;
    width: 900px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    margin-bottom: 10px;
}

#trendSheet .ag-row:hover {
    filter: brightness(0.7);
}


#flagSheet{
    width: 95%;
    height: 700px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#columnVisibilityDropdownFL {
    width: fit-content;
    display: inline;
    margin-right: 5px;
}

#filterContainerFL {
    display: flex;
    position: relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    margin-top: 5px;
}

#colVisButFL {
    margin-left: 5px;
    margin-top: 18.5px;
    width: 175px;
}

#checkboxContainerFL {
    margin-top: 10px;
    height: 150px;
    overflow-y: auto;
    width: fit-content;
}

#checkboxContainerFL label {
    font-weight: normal;
}

#checkboxContainerFL .group-label {
    font-weight: bold;
}

#applyColVisFL {
    margin-top: 5px;
}

#searchAreaFL {
    display: inline;
    width: fit-content;
}

#searchInnerAreaFL {
    display: inline-block;
}

#flagSheet .ag-row:hover {
    filter: brightness(0.7);
  }
  
  #flagSheet .ag-row-hover {
    filter: brightness(0.7);
  }

#customModelBody {
    overflow: hidden;
}

#mainBodyModel {
    display: flex;
    width: 100%;
    height: calc(100% - 50px);
    position: absolute;
    top:50px;
    background-color: white;
    z-index: 5;
    border: 1px solid purple;
    overflow: hidden;
}

#modelInputDiv {
    display: block;
    width: 400px;
    max-height: 100%;
    top:50px;
    left: 0px;
    z-index: 6;
    overflow-y: auto;
    padding-bottom: 15px;
}

#modelOutputDiv {
    display: inline;
    position: absolute;
    width: calc(100% - 403px);
    height: 100%;
    right: 0px;
    background-color: white;
    z-index: 5;
}

.indInputDiv {
    display: flex;
    align-items: center;
    width: 95%;
    height: fit-content;
    padding-right: 1px;
    margin-bottom: 5px;
}

.modelInputLabel {
    font-size: 15px;
    width: 280px;
    margin-right: 5px;
}

.modelInput{
    width: 50px;
    height: 20px;
}

.sectLabel{
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana;
    margin-bottom: 10px;
    padding-left: 2px;
}

#mainInputLabel {
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana;
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: center;
}

.outerSect {
    display: flex;
    padding-left: 1px;
    padding-right: 1px;
}

.innerSectLeft {
    display: inline-block;
    width: 50%;
    height:fit-content;
}

.innerSectRight {
    display: inline-block;
    width: 50%;
    height:fit-content;
}

#sgPgaInput {
    text-align: center;
    margin-top: 10px;
    height: fit-content;
    margin-bottom: 5px;
}

#sgRoundInput {
    text-align: center;
    height: fit-content;
}

#otherStats {
    text-align: center;
    height: fit-content;
}

#otherInputs {
    text-align: center;
    height: fit-content;
}

#fieldAndCourse {
    text-align: center;
    height: fit-content;
}

#modelInputButtons {
    text-align: center;
    height: fit-content;
    margin-top: 15px;
}

#currSumModel {
    text-align: center;
    height: fit-content;
    margin-top: 10px;
    font-family: Verdana;
    font-size: 14px;
}

#sumNote {
    text-align: center;
    height: fit-content;
    margin-top: 3px;
    font-family: Verdana;
    font-size: 10px;
}

#filterContainerCM {
    display: flex;
    position: relative;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#searchAreaCM {
    display: inline;
    width: fit-content;
}

#searchInnerAreaCM {
    display: inline-block;
}

#modelSheet {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 700px;
    overflow-x: auto;
}

#modelSheet .ag-row:hover {
    filter: brightness(0.7);
  }
  
  #modelSheet .ag-row-hover {
    filter: brightness(0.7);
  }

#platformDiv{
    margin-left: 10px;
}

#platform {
    height: 21.5px;
    width: 100px;
}

#goOptimizeDiv {
    margin-left: 10px;
}

#modelSettingsDiv {
    width: 500px;
    height: 700px;
    display: block;
    border: 1px solid lightgray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    overflow-y: auto;
}

#modelSettingsHeader{
    font-size: 25px;
    font-weight: bold;
    font-family: Verdana;
    margin-bottom: 15px;
}

.modelSettingSect{
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
}


#lineupResDiv {
    width: 95%;
    height: fit-content;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 20px;
}

#allLineupsTable tbody tr:hover {
    filter: brightness(0.7);
}

#playerTable tbody tr:hover {
    filter: brightness(0.7);
}

#exposuresDiv {
    width: 20%;
    display: inline-block;
    margin-left: 25px;
    overflow-y: auto;
}

#optimizerResDiv {
    width: 75%;
    overflow-x: auto;
    overflow-y: auto;
    display: inline-block;
}

#optResLabel{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: Verdana;
}

#runOptimizerBtn {
    margin-top: 20px;
}

.checkboxDropSubtitle{
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 5px;
    font-family: Verdana;
}

#choosePlayerBox, #excludePlayerBox{
    width: 200px;
    text-align: center;
}

.modelSettingLbl {
    font-weight: bold;
    font-family: Verdana;
    font-size: 15px;
}

.selectionDropdownDiv{
    margin-top: 10px;
}

